asgiref==3.5.2
astroid==2.12.6
asttokens==2.0.8
backcall==0.2.0
colorama==0.4.5
debugpy==1.6.3
decorator==5.1.1
dill==0.3.5.1
distlib==0.3.6
entrypoints==0.4
executing==1.0.0
filelock==3.8.0
ipykernel==6.15.3
ipython==8.5.0
isort==5.10.1
jedi==0.18.1
jupyter-core==4.11.1
jupyter_client==7.3.5
lazy-object-proxy==1.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mysql-connector-python==8.0.30
nest-asyncio==1.5.5
numpy==1.23.2
packaging==21.3
pandas==1.4.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.2
prompt-toolkit==3.0.31
psutil==5.9.2
psycopg==3.1.4
psycopg2==2.9.3
psycopg2-binary==2.9.3
pure-eval==0.2.2
Pygments==2.13.0
pylint==2.15.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
pywin32==304
pyzmq==23.2.1
six==1.16.0
sqlparse==0.4.2
stack-data==0.5.0
tomli==2.0.1
tomlkit==0.11.4
tornado==6.2
traitlets==5.4.0
typing_extensions==4.3.0
tzdata==2022.2
virtualenv==20.16.7
virtualenvwrapper-win==1.2.7
wcwidth==0.2.5
wrapt==1.14.1
